<div class="w-4/6 mx-auto">
   <div>
    <p class="absolute inset-0 flex justify-center items-end pointer-events-none opacity-20 text-[#cccfd2] text-[12em] font-bold overflow-hidden">rails</p>
    <p class="absolute inset-0 flex justify-start items-start pointer-events-none opacity-20 text-[#cccfd2] text-[20em] font-bold overflow-hidden">tech</p>
    <p class="absolute inset-0 flex justify-end mb-8 items-start pointer-events-none opacity-20 text-[#cccfd2] text-[32em] font-bold overflow-hidden">js</p>
  </div>
  <h1 class="text-[2em] my-8"><%= @blog_post.title %></h1>
  <p class="text-base/8 text-[1.2em]"><%=  @blog_post.body %></p>
</div>
